@model UploadMultipleFilesInMVC.Models.FileModel
@{
    ViewBag.Title = "www.compilemode.com";
}

@using (Html.BeginForm("UploadFiles", "Home", FormMethod.Post, new { @id = "my_form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.files, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="submit" value="Upload" class="btn btn-primary" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-success">
                @ViewBag.UploadStatus
            </div>
        </div>

    </div>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    //var myFormData = new FormData();
    //$(document).ready(function (e) {
    //    $("#submit").on("click", function (e) {
    //        // e.preventDefault();
    //        var inputs = $("#my_form input");
    //        $.each(inputs, function (obj, v) {
    //            if (v.files != null) {
    //                for (var i = 0; i < v.files.length; i++) {
    //                    var file = v.files[i];
    //                    var filename = $(v).attr("data-filename");
    //                    var name = $(v).attr("id");
    //                    myFormData.append(name, file, filename);
    //                }

    //            }
    //        });

    //        $("#multifile").val(myFormData);
    //        //var xhr = new XMLHttpRequest;
    //        //xhr.open('POST', '/Home/UploadFiles/', true);
    //        //xhr.send(myFormData);
    //        // $("#my_form").submit();
    //        return true;
    //    });
    //})

</script>
